<%= render "form" %>










<!-- <form action="/tasks" method="post">

  <label for="name">Enter a title</label>
  <input type="text" name="task[title]">

  <label for="name">Enter details</label>
  <input type="text" name="task[details]">

 <label for="name">Tick the box when complete</label>
  <input type="text" name="task[completed]">


  <input type="submit">

</form>-->
